<p class="u-spacer--small">Wilde u de mandataris <strong>{{info.mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{info.mandataris.isBestuurlijkeAliasVan.achternaam}}</strong>, met als functie <strong>{{info.mandataris.bekleedt.bestuursfunctie}}</strong> invoegen?</p>

{{#wu-button-group}}
  {{wu-button label="Voeg in" size="small" isNarrow=true onClick=(action "insert")}}
{{/wu-button-group}}

{{yield}}
