<p class="u-spacer--small">
  Voeg <strong>{{info.mandataris.isBestuurlijkeAliasVan.fullName}}</strong> ({{info.mandataris.bekleedt.bestuursfunctie.label}}) als <strong>{{info.rdfaProperty.label}}</strong>
</p>

{{#wu-button-group}}
  {{wu-button
    label="Voeg in"
    size="small"
    isNarrow=true
    onClick=(action "refer" info)
  }}
  {{wu-button
    label="Voeg uitgebreid in"
    size="small"
    isNarrow=true
    onClick=(action "extend" info)
  }}
{{/wu-button-group}}

{{yield}}
